

## load sidebar and navigation bar
{% extends "base.html" %}



##load title
{% block title %} Index {% end %}º

{% block javascripts %}
    <link rel="stylesheet" type="text/css" href='{{static_url("isafer.css")}}'>
    <link rel="stylesheet" type="text/css" href='{{static_url("datatables_2.css")}}'>
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/dark.js"></script>
    <script src='{{static_url("uploaders_ratio.js")}}'></script>
    <script src='{{static_url("day_contacts.js")}}'></script>
    <script src='{{static_url("modify_user.js")}}'></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/material-components-web/4.0.0/material-components-web.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.material.min.css" />

{% end %}

<!-- Custom styles for this template -->
{% block styles %}
{% end %}

#item value
{% block sidebar_item %}Index{% end %}

##the content page is here
{% block content %}
<div class="title_body"> Editar usuario teléfono</div>
<br \>
<div class="up_dash_item"> <p>Buscar usuario</p> </div>
<div class="bottom_dash_item">

<div class="card-body">
    <div class="table-responsive">
        <table id="example" class="table dcard-table hover" width="100%" cellspacing="0">
            <thead class="dcard-table-head"></thead>
            <tbody></tbody>
        </table>
    </div>
</div>

</div>
<div id="modify_fields">
    <div class="up_dash_item" > <p>Modificar campos a actualizar</p> </div>
    <div class="bottom_dash_item">
        <div style="margin-left:25px;">
            <form id="update_user_form">
                <label for="db_id">firestore id (no editable):</label><br>
                <input type="text" id="db_id" name="db_id" readonly><br><br>
              <label for="nombre">Nombre:</label><br>
              <input type="text" id="nombre" name="nombre"><br><br>
              <label for="rut">Rut:</label><br>
              <input type="text" id="rut" name="rut"><br><br>
              <label for="telefono">telefono:</label><br>
              <input type="text" id="telefono" name="telefono"><br><br>
                <label for="empresa">empresa:</label><br>
              <input type="text" id="empresa" name="empresa"><br><br>
                <label for="marca">marca celular:</label><br>
              <input type="text" id="marca" name="marca"><br><br>
                <label for="equipo">equipo celular:</label><br>
              <input type="text" id="equipo" name="equipo"> <br><br>
              <label for="estado">estado:</label><br>
              <input type="text" id="estado" name="estado"> <br><br>
                <input type="checkbox" id="habilitado" name="habilitado">
                <label for="habilitado"> habilitado</label> <br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
<script>
    var update_user_form = document.getElementById("update_user_form");
    function handleForm(event) {
        event.preventDefault();
        var nombre = "f" + $("#nombre").val().replace(/ /g, "_");
        var rut = "f" +$("#rut").val().replace(/ /g, "_").replace(/-/g, "T");
        var telefono ="f" + $("#telefono").val().replace(/ /g, "_");;
        var empresa = "f" + $("#empresa").val().replace(/ /g, "_");
        var marca = "f" + $("#marca").val().replace(/ /g, "_");
        var equipo = "f" + $("#equipo").val().replace(/ /g, "_");
        var estado = "f" + $("#estado").val().replace(/ /g, "_");
        var db_id = $("#db_id").val().replace(/ /g, "_");
        var habilitado = (document.getElementById("habilitado").checked)?"si":"no";
       $.getJSON("/modify_user_cellphone/"+nombre + "/" + rut + "/" + telefono + "/" + empresa + "/" + marca + "/" +
         equipo + "/" + habilitado + "/" + estado + "/" + db_id, function (data, status) {
            alert("Recargue web en 30 segundos para ver cambios en la tabla");
        });
    }
    update_user_form.addEventListener('submit', handleForm);
</script>
{% end %}
