

## load sidebar and navigation bar
{% extends "base.html" %}



##load title
{% block title %} Index {% end %}

{% block javascripts %}

{% end %}

<!-- Custom styles for this template -->
{% block styles %}
{% end %}

#item value
{% block sidebar_item %}Index{% end %}

##the content page is here
{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4 page-heading">
  <div class="dheader">DASHBOARD</div>
  <!--<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>-->
</div>

<!-- Content Row -->
<div class="row">
  {%module CardD1("SENSORS DEPLOYED", len(sensors), "numsensors", "fas fa-microchip fa-2x", "#4e73df")%}
  {%module CardD1("COMMS DEPLOYED", len(comms), "numcomms", "fas fa-satellite-dish fa-2x", "#fec000")%}
  {%module CardD1PB("DISK USAGE", 0, 100, "progress", "fas fa-database fa-2x", "#36b9cc")%}
</div>

<!-- Area Chart -->
<div class="row">

</div>
{% end %}
